@font-face {
    font-family: LinLibertine_RZ;
    src: url(../font/LinLibertine_RI.ttf);
}
@font-face {
    font-family: SourceSansPro;
    src: url(../font/sourcesanspro.ttf);
}
@font-face {
    font-family: TrebuchetMS;
    src: url(../font/Trebuchet_MS.ttf);
}
@font-face {
    font-family: Exo;
    src: url(../font/Exo-Thin.ttf);
}
@font-face {
    font-family: LinLibertineBI;
    src: url(../font/LinLibertine_RI.ttf);
}
@font-face {
    font-family: LinLibertine;
    src: url(../font/LinLibertine_R.ttf);
}
@font-face {
    font-family: LinLibertine;
    src: url(../font/LinLibertine_R.ttf);
}
a:hover {
    text-decoration: none;
}
.home-page {
    width: 100%;
    height: auto;
    padding-bottom: 80px;
    background-image: url("../storage/image/download.png");
    background-repeat: no-repeat;
    background-size: cover;
}

                                     /*      section  header-page      */
.header-page {
    position: relative;
}
.nav-bar {
    width: 65%;
    float: left;
    padding-right: 0px;
    padding-left: 0px;
}
.nav-bar .custom-navbar-nav .menu {
    padding-left: 0px;
    margin: 20px;
}
.nav-home-page {
    color: #fff !important;
    font-size: 16px;
    line-height: 23px;
    font-family: 'sourcesanspro';
    border-top:3px solid #f80;
}
.custom-nav-item {
    position: relative;
    display: inline-block;
}
.menu {
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-family: 'sourcesanspro';
    line-height: 23px;
}
ul {
    list-style-type: none;
}
.caret {
    position: absolute;
    left: 50%;
}
.caret-down {
    display: none;
}
.custom-nav-item:hover .caret-down {
    color: #f80;
    display: block;
}
.custom-nav-item.active:hover .caret-down {
    color: #f80;
}
.active .caret-down {
    color: #d8d3bd !important;
    display: block;
    position: absolute;
    top:3px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.down {
    display: none!important;
}
.header-search {
    float: right;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 15px;
    width: 35%;
    text-align: right;
}
.form-inline-flex{
    display: inline-flex;
    position: relative;
}
.languages{
    width: 90px;
    height: 23px;
    margin-right: 25px;
}
.lang-en{
    background-color:  #f5f2eb;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
}
.lang-en span{
    color:#3d3535;
    font-size:13px;
    line-height: 17px;
    letter-spacing: 1px;
}
.lang-ar{
    color:#fff;
    font-size:13px;
    line-height: 17px;
    letter-spacing: 1px;
    background-color: #3a3f3f;
    border-radius: 2px;
    padding: 4px 9px 5px 9px;
    height: 27px;
    margin-top: -10px;
    text-align: center;
}
.caret-icon-up{
    color:#3a3f3f;
    position: relative;
    left: -10px;
}
.lang{
    width: 90px;
    display: none;
}
.lang-block{
    display: block;
    position: absolute;
    top:20px;
}
.search {
    width: 166px;
    height: 23px;
    border-radius: 5px;
    background-color: #f5f2eb;
    margin-right: 0px !important;
    border: none;
}
.search:focus {
    box-shadow: none;
}
.btn-search {
    background: transparent;
    border: none;
    position: absolute;
    font-size: 13px;
    color: #605b5b;
    outline: none;
    right: 5px;
}
.clear {
    clear: both;
}
.hidden-search, .menu-search-hidden {
    display: none;
}
.menu-search-hidden {
    position: absolute;
    width: 100%;
    top: 42px;
    background-color: #f4f3ea;
}
.submenu {
    width: 100%;
    display: none;
    position: absolute;
    top: 51px;
}
.hidden-menu-open {
    margin: 0px;
}
.hidden-menu {
    background-color: #f4f3ea;
    padding: 20px 0 34px 15px;
    border-right: 1px solid #D9D5C6;
}
.submenu_block {
    display: block !important;
    z-index: 13;
}
.hidden-menu li {
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-family: 'sourcesanspro';
    margin-left: 16px;
    margin-bottom: 28px;
    padding: 5px 5px 5px 10px;
    position: relative;
}
.hidden-menu-block {
    display: block;
}
.hidden-menu-info {
    padding-top: 28px;
    padding-bottom: 32px;
    background-image: url("../storage/image/nav-bg-ltr.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.hidden-menu-info-text {
    display: none;
    color: #000;
    line-height: 34px;
    font-size: 18px;
    font-family: 'sourcesanspro';
}
.responsive-button:focus {
    outline: none;
}
.hidden-menu-border {
    background-color: #fff;
    border: 1px solid #D9D5C6;
    border-right: none;
    margin-right: -1px;
}
.hidden-menu-border::before {
    content: "";
    width: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0px;
    background-color: #DF8E19;
    background-image: -webkit-linear-gradient(269deg,#DF8E19 0,#F8BC16 100%);
    background-image: -o-linear-gradient(269deg,#DF8E19 0,#F8BC16 100%);
    background-image: linear-gradient(-179deg,#DF8E19 0,#F8BC16 100%);
}
.hidden-menu li:hover::before {
    content: "";
    width: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0px;
    background-color: #DF8E19;
    background-image: -webkit-linear-gradient(269deg,#DF8E19 0,#F8BC16 100%);
    background-image: -o-linear-gradient(269deg,#DF8E19 0,#F8BC16 100%);
    background-image: linear-gradient(-179deg,#DF8E19 0,#F8BC16 100%);
}
.hidden-menu li:hover{
    background-color: #fff;
    border-top: 1px solid #D9D5C6;
    border-bottom: 1px solid #D9D5C6;
}
.hidden-menu active li:hover {
    background-color: #fff;
}
.hidden-menu-block {
    display: block;
}
.bahai-faith {
    position: absolute;
    left: 25px;
    top: 60px;
}
.title{
    font-size: 52px;
    color:#fff;
    font-family: LinLibertine;
}
#text{
    font-size: 15px;
    color:#fff;
    line-height: 22px;
    padding-left: 10px;
    margin-top: -17px;
    font-family: LinLibertine;
}
.header-homepage-image{
    background-color: #111d0f;
    height: 48vh;
}
.header-page-image {
    width: 100%;
    height: 45vh;
    object-fit: cover;
}
#site-search {
    display: none;
}
.color{
    color:#373630 !important;
    font-weight: 700;
}
@media all and (min-width: 992px) {
    .menu-search-hidden{
        display: none !important;
    }
    .nav-bar .custom-navbar-nav .menu {
        margin: 11px;
    }
}
@media all and (max-width: 991px) {
    .nav-bar {
        width: 100%;
    }
    .bahai-faith {
        position: static;
        background-color: #fff;
    }
    .title{
        color:#886b43;
        padding-left: 20px;
    }
    #text{
        color:#886b43;
        padding-left: 30px;
    }
    .search {
        width: 94% !important;
        height: 23px;
        border-radius: 0px;
        background-color: #fff;
        margin-right: 3% !important;
        margin-left: 3%;
        margin-top: 20px;
        outline: none;
        border: 1px solid #979797 !important;
    }
    .btn-search {
        background: transparent;
        border: none;
        position: absolute;
        font-size: 13px;
        outline: none;
        right: 25px;
        top: 23px;
        color: #000 !important;
    }
    .menu-search-hidden ul {
        margin-top: 20px;
        margin-left: 20px;
    }
    .submenu {
        top: 150px;
    }
    .hidden-search {
        display: block;
        position: absolute;
        top: 6px;
        left: 97%;
    }
    .header-search {
        display: none;
    }
    .header-search input {
        display: none !important;
    }
    .nav-bar {
        float: none;
    }
    .header-search {
        float: none;
    }
    .btn-search {
        color: #fff;
    }
    .btn-search-hidden {
        color: #fff;
        font-size: 14px;
        position: absolute;
        top: 8px;
    }
    .animated-icon2 {
        position: relative;
        display: none;
        left: 2px;
        top: 9px
    }
    .animated-icon3, .animated-icon2 {
        width: 20px;
        height: 20px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    .animated-icon3 span, .animated-icon2 span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        background: #f3e5f5;
    }
    .animated-icon3 span:focus, .animated-icon2 span:focus {
        outline: 1px;
    }
    .animated-icon3 span:nth-child(1), .animated-icon2 span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .animated-icon3 span:nth-child(2), .animated-icon2 span:nth-child(2) {
        top: 7px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .animated-icon3 span:nth-child(3), .animated-icon2 span:nth-child(3) {
        top: 14px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }
    .animated-icon3.open span:nth-child(1), .animated-icon2.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -2px;
        left: 0px;
    }
    .animated-icon3.open span:nth-child(2), .animated-icon2.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }
    .animated-icon3.open span:nth-child(3), .animated-icon2.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 12px;
        left: 0px;
    }
    .hidden-menu-border {
        background-color: transparent;
        border-left: none;
    }
    .nav-home-page {
        margin-top: 0px;
        color: #fff !important;
        font-size: 16px;
        border-top: none;
    }
    .nav-home-page:hover {
        text-decoration: none;
    }
    .menu {
        word-spacing: 155px;
    }
    .active .caret-down {
        top: 28px;
    }
    .custom-navbar-nav {
        flex-direction: row-reverse;
        width: 100%;
        padding: 15px 15px 0 15px;
    }
    .navbar-custom {
        position: absolute;
        background-color: rgb(216, 211, 189);
        top: 49px;
    }
    .hidden-menu-info {
        display: none;
    }
    .nav-bar .custom-navbar-nav .menu {
        text-align: center;
        font-size: 15px;
    }
    .hidden-menu {
        background-color: #fff;
        text-align: left;
    }
    .nav-bar .custom-navbar-nav.menu {
        margin-right: 0px;
    }
    .hidden-menu li:hover {
        border-left: none;
    }
    .nav-bar .responsive-button {
        border-color: rgba(117, 110, 110, 0);
        position: absolute;
        right: 10px;
    }
    .responsive-button {
        margin-right: 10px;
        display: flex;
    }
    .custom-navbar-nav {
        flex-direction: row-reverse;
    }
    .hidden-menu {
        border-bottom: 10px solid #8b8572;
    }
    .active .caret-down, .active:hover .caret-down {
        color: #fff !important;
    }
    .custom-nav-item {
        text-align: center;
    }
    .nav-bar .custom-navbar-nav .menu {
        margin: 2px;
    }
    .custom-navbar-nav {
        padding-bottom: 20px;
    }
    .custom-nav-item:hover .caret-down {
        color: rgb(216, 211, 189);
    }
    .custom-nav-item.active:hover .caret-down {
        color: rgb(216, 211, 189);
    }
    .header-block-menu {
        color: #fff;
        font-size: 15px;
        padding-left: 8px;
        border-right: 1px solid #fff;
        padding-right: 10px;
    }
    .hidden-menu li:hover {
        border-left: 1px solid transparent;
    }
    .hidden-menu active li:hover {
        border-left: 1px solid transparent;
    }
    .hidden-menu-border {
        border: none;
        margin-right: 0px;
    }
    .hidden-menu-border::before,.hidden-menu li:hover::before{
        background-color: transparent;
        background-image: none;
    }
    .hidden-menu li:hover{
        border-top: none;
        border-bottom: none;
    }
    .menu-search-hidden li a{
        margin: 0 5px 0 10px;
        color:#565656;
    }
    .menu-search-hidden li :hover .open-li{
        visibility: visible;
    }
    .menu-search-hidden{
        border-bottom: 10px solid #8b8572;
    }
    .menu-search-hidden  li{
        padding-bottom: 5px;
    }
    .open-li{
        visibility: hidden;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #e95100;
        display: inline-block;
        position: relative;
        top: -2px;
    }
    .open-block{
        visibility: visible;
    }
}
@media all and (max-width: 767px) {
    .header-page-image {
        height: 36vh;
    }
    .header-homepage-image {
        height: 38vh;
    }
}
@media all and (max-width: 590px) {
    .header-page-image {
        height: 30vh;
    }
    .header-homepage-image {
        height: 32vh;
    }
}
@media all and (max-width: 450px) {
    .title {
        font-size: 48px;
        padding-left: 10px;
    }
    #text {
        font-size: 13px;
        padding-left: 17px;
    }
    .header-page-image {
        height: 27vh;
    }
    .header-homepage-image {
        height: 29vh;
    }
}
@media all and (max-width: 380px) {
    .title {
        font-size: 40px;
    }
    #text {
        font-size: 11px;
    }
    .menu-search-hidden li a {
        font-size: 15px;
    }
}
                                                 /*      section news        */
.news{
    background-color: #fff;
    padding-top: 45px;
}
.news-pages{
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 0;
    margin-right: 0;
}
.news-page img{
    object-fit: cover;
}
.news-page{
    padding-left: 0;
    padding-right: 0;
    text-align: -webkit-center;

}
.description{
    box-shadow: 3px 2px 1px 0 rgba(0, 0, 0, 0.16);
}
.news-title{
    line-height: 14px;
    font-size: 16px;
    color: #312619;
    text-align: center;
    padding-top: 13px;
    letter-spacing: 6px;
    font-family: LinLibertineZI;
    font-weight: 700;
}
.news-description{
    text-align: left;
    color:#312619;
    font-size:13px;
    line-height:15px;
    padding: 10px 15px 10px;
    font-family: SourceSansPro;
}
.news-btn{
    width: 100%;
    line-height: 41px;
    font-size: 22px;
    color: #312619;
    text-align: center;
    letter-spacing: 6px;
    font-family: LinLibertineZI;
    font-weight: 700;
    background-color: #707070;
    background-color: rgba(132, 112, 112, 0.44);
    border:none;
    border-bottom-left-radius: 4px;
}
.news-btn:focus{
    outline: none;
}
.description{
    width: 87%;
    text-align: center;
}
.news-text{
    background-color: #f5f2eb;
}
@media all and (max-width: 1199px) {
    .news-page img {
        width: 100%;
    }
}
@media all and (max-width: 1199px) {
    .news-pages {
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media all and (max-width: 767px) {
    .news-page img {
        width: 100%;
    }
    .description {
        width: 100%;
        margin-bottom: 30px;
    }
    .news-pages {
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media all and (max-width: 500px) {
    .news-pages {
        padding-left: 70px;
        padding-right: 70px;
    }
}
@media all and (max-width: 380px) {
    .news-pages {
        padding-left: 30px;
        padding-right: 30px;
    }
}
                                            /*  section baha-u-llah   */

.baha-u-llah {
    background-color: #fff;
    padding-top: 52px;
}

.baha-u-llah-title {
    font-size: 26px;
    line-height: 28px;
    color: #633c3d;
    padding-top: 29px;
    font-family: LinLibertine_RZ;
}
.baha-u-llah-title span{
    font-size: 20px;
    line-height: 28px;
    color: #633c3d;
    padding-top: 29px;
    font-family: LinLibertine_RZ;
}

.baha-u-llah-text1, .baha-u-llah-text2 {
    line-height: 40px;
    font-size: 16px;
    font-family: SourceSansPro;
    color: #443232;
    margin-top: 26px;
}
p {
    margin-bottom: 0px;
    padding: 0px;
}
ul {
    list-style-type: none;
}
.baha-u-llah-image {

    width: 95%;
}
.a{
    margin-top: 50px;
}
.baha-llah{
    position: relative;
}
.llah{
    position: absolute;
    top: 0px;
    width: 85%;
    text-align: center;
    padding-bottom: 4px;
}
.llah-title{
    font-size: 11px;
    line-height: 45px;
    text-transform: uppercase;
    color:#3e1813;
    font-family: SourceSansPro;
    letter-spacing: 1px;
}
.llah-text{
    padding-top: 31%;
    font-size: 23px;
    line-height: 36px;
    text-transform: uppercase;
    color:#6dce94;
    font-family: SourceSansPro;
    letter-spacing: 1px;
}
@media all and (max-width: 1199px) {
    .baha-u-llah-title {
        font-size: 25px;
    }
    .llah-text {
        padding-top: 25%;
    }
}
@media all and (max-width: 991px) {
    .llah-title {
        font-size: 8px;
        line-height: 26px;
        letter-spacing: 0px;
    }
    .llah-text {
        font-size: 18px;
    }
}
@media all and (max-width: 767px) {
    .baha-u-llah-title {
        font-size: 27px;
        text-align: center;
    }
    .llah-title{
        font-size: 25px;
        line-height: 130px;
        letter-spacing: 1px;
    }
    .llah-text{
        font-size: 23px;
        line-height: 36px;
        letter-spacing: 1px;
    }
    .baha-u-llah-image {
        margin-top: 20px;
    }
    .lang-en, .lang-ar, .languages {
        text-align: center;
    }
}
@media all and (max-width: 550px) {
    .llah-title {
        font-size: 20px;
        line-height: 0px;
        margin-top: 15%;
    }
    .llah-text {
        line-height: 0px;
        margin-top: 24%;
    }
}
@media all and (max-width: 450px) {
    .baha-u-llah-title {
        font-size: 22px;
    }
    .llah-title {
        font-size: 17px;
    }
}
@media all and (max-width: 380px) {
    .baha-u-llah-title {
        font-size: 18px;
    }
    .llah-title {
        font-size: 15px;
        margin-top: 17%;
    }
    .baha-u-llah-text1, .baha-u-llah-text2 {
        font-size: 14px;
    }
}
@media all and (max-width: 340px) {
    .llah-title {
        font-size: 13px;
    }
}
                                                    /*  section  baha_is_believe   */

.baha_is_believe {
    padding-top: 88px;
    background-color: #fff;
}
.baha_is_believe_text {
    line-height: 43px;
    font-size: 32px;
    padding-bottom: 26px;
    color:#734142;
    font-family: LinLibertineZI;
}
.image-highlight-list img {
    width: 100%;
    padding-left: 31px;
}
.baha_is_believe-img {
    margin-bottom: 36px;
    width: 100%;
}
.link-title {
    font-size: 22px;
    line-height: 25px;
    color: #3966cf;
    font-family: SourceSansPro;
}
.link-subtitle {
    font-size: 15px;
    line-height: 25px;
    color: #707070;
    font-family: SourceSansPro;
}
.link {
    padding-left: 30px;
}
.baha_is_believe-bottom {
    margin-bottom: 16px;
}
@media all and (max-width: 991px) {
    .link-title {
        font-size: 19px;
    }
    h3{
        margin-bottom: 2px;
    }
    .link-subtitle {
        font-size: 14px;
        line-height: 18px;
    }
}
@media all and (max-width: 767px) {
    .image-highlight-list img {
        display: none;
    }
}
@media all and (max-width: 500px) {
    .link-title {
        font-size: 18px;
        line-height: 20px;
    }
    .link-subtitle {
        font-size: 13px;
        line-height: 20px;
    }
}
@media all and (max-width: 430px) {
    .link-title {
        font-size: 16px;
        line-height: 15px;
    }
    .link-subtitle {
        font-size: 12px;
        line-height: 15px;
    }
}
@media all and (max-width: 400px) {
    .link-title {
        font-size: 14px;
        line-height: 10px;
    }
    .link-subtitle {
        font-size: 10px;
        line-height: 10px;
    }
}


                                                    /*      section baha-is-do      */
.baha-is-do {
    padding-top: 65px;
    background-color: #fff;
}
.baha-is-do-title {
    font-size: 50px;
    color: #734142;
    font-family: LinLibertineZI;
}
.baha-is-do-text {
    width: 87%;
    font-size: 22px;
    line-height: 28px;
    color: #6a6f69;
    margin-top: 45px;
    font-family: SourceSansPro;
}
.baha-is-do-text1 {
    font-size: 22px;
    line-height: 25px;
    color: #3966cf;
    font-family: SourceSansPro;
}
.baha-is-do-text2 {
    font-size: 9px;
    line-height: 13px;
    color: #6a6f69;
    font-family: SourceSansPro;
}
.baha-is-do-text3 {
    padding-top: 30px;
    font-size: 22px;
    line-height: 28px;
    color: #6a6f69;
    font-family: SourceSansPro;
}
.baha-is-do-img {
    width: 100%;
    margin-bottom: 20px;
}
.baha-is-do-image {
    width: 100%;
}
.baha-is-do-bottom {
    margin-bottom: 7px;
}
@media all and (max-width: 1199px) {
    .baha-is-do-text {
        width: 90%;
        font-size: 18px;
    }
}
@media all and (max-width: 991px) {
    .baha-is-do-text {
        font-size: 15px;
    }
}
@media all and (max-width: 767px) {
    .baha-is-do {
        padding-top: 50px;
    }
    .baha-is-do-text {
        font-size: 22px;
        margin-top: 30px;
    }
    .baha-is-do-image {
        margin-top: 20px;
    }
    .baha-is-do-text1 {
        margin-top: 30px;
    }
    .baha-is-do-text3 {
        float: right;
    }
}
@media all and (max-width: 520px) {
    .baha-is-do-title {
        font-size: 40px;
    }
    .baha-is-do-text1 {
        margin-top: 25px;
    }
}
@media all and (max-width: 430px) {
    .baha-is-do-title {
        font-size: 30px;
    }
    .baha-is-do-text1 {
        margin-top: 20px;
    }
}
@media all and (max-width: 330px) {
    .baha-is-do-title {
        font-size: 25px;
    }
    .baha-is-do-text1 {
        margin-top: 0px;
    }
}
                                                /*         section bahai-library        */

.bahai-library {
    background-color: #fff;
    padding-top: 26px;
    padding-bottom: 100px;
}
.bahai-library-title {
    color: #734142;
    font-size: 32px;
    line-height: 12px;
    letter-spacing: 3px;
    font-family: LinLibertineZI;
    margin-bottom: 26px;
}
.bahai-library-text {
    font-size: 12px;
    color: #6a6f69;
    line-height: 21px;
    font-family: SourceSansPro;
    margin-top: 26px;
    margin-bottom: 52px;
}
.bahai-library-image {
    width: 100%;
}
.contact-us{
    margin-top: 100px;
    padding: 0px;
    background-color: #f9f6f6;
    border-radius: 23px;
    height: 26vh;
    box-shadow: -6px 8px 6px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
}
.contact-us img{
    width: 17%;
    margin-top: -77px;
}
.button-contact-us{
    margin-top: 44px;
    text-transform: uppercase;
    background-color: #d9d9d9;
    border-radius: 8px;
    font-size: 25px;
    line-height: 36px;
    color:#8d867c;
    padding: 5px 26px;
    font-family: SourceSansPro;
    text-align: center;
    border: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.button-contact-us:focus{
   outline: none;
}
@media all and (max-width: 1199px) {
    .contact-us img {
        margin-top: -68px;
    }
    .contact-us{
        height: 23vh;
    }
}
@media all and (max-width: 991px) {
    .contact-us img {
        width: 20%;
        margin-top: -60px;
    }
    .contact-us{
        height: 21vh;
    }
    .button-contact-us {
        margin-top: 40px;
    }
}
@media all and (max-width: 767px) {
    .bahai-library-title {
        font-size: 27px;
        line-height: 10px;
    }
    .contact-us img {
        width: 25%;
    }
    .contact-us{
        height: 20vh;
    }
}
@media all and (max-width: 580px) {
    .bahai-library-title {
        font-size: 25px;
    }
}
@media all and (max-width: 575px){
    .contact-us img {
        width: 25%;
    }
    .contact-us{
        height: 20vh;
    }
    .baha_is_believe_text {
         padding-bottom: 0px;
    }
    .baha_is_believe {
        padding-top: 50px;
    }
}
@media all and (max-width: 547px) {
    .contact-us img {
        width: 25%;
    }
}
@media all and (max-width: 510px) {
    .bahai-library-title {
        font-size: 23px;
        letter-spacing: 2px;
    }
    .contact-us {
        height: 25%;
    }
    .contact-us{
        height: 20vh;
    }
}
@media all and (max-width: 480px) {
    .contact-us img {
        width: 25%;
        margin-top: -44px;
    }
    .contact-us{
        height: 17vh;
    }
    .button-contact-us {
        margin-top: 28px;
    }
}
@media all and (max-width: 450px) {
    .bahai-library-title {
        font-size: 22px;
    }
    .bahai-library-title {
        font-size: 20px;
    }
}
@media all and (max-width: 415px) {
    .bahai-library {
        padding-bottom: 50px;
    }
    .baha_is_believe_text{
        font-size: 27px;
    }
}
@media all and (max-width: 414px) {
    .contact-us{
        height: 9.5vh;
        margin-top: 45px;
    }
    .contact-us img{
        width: 22%;
        margin-top: -35px;
    }
    .button-contact-us{
        margin-top: 10px;
        font-size: 10px;
        padding:12px 21px 10px 21px;
        line-height: 0;
    }
}
@media all and (max-width: 401px) {
    .bahai-library-title {
        font-size: 18px;
        letter-spacing: 1px;
    }
}
@media all and (max-width: 375px) {
    .baha_is_believe_text{
        font-size: 24px;
    }
}
@media all and (max-width: 340px) {
    .bahai-library-title {
        font-size: 15px;
        margin-bottom: 10px;
    }
    .contact-us{
        height: 7vh;
    }
    .contact-us img{
        width: 18%;
        margin-top: -35px;
    }
    .button-contact-us{
        margin-top: 5px;
        font-size: 10px;
        padding:12px 21px 10px 21px;
        line-height: 0;
    }
}
                                                                /*      section  footer     */
.footer{
    background-color: #4d4c4c;
    height:30vh;
}
.footer-contents{
    position: relative;
    margin:0px;
    top: 23px;
    height:35vh;
}
.footer-contents img{
    width:100%;
    height: 28vh;
}
.information{
    left:0px;
}
.information,.other-sites{
    position: absolute;
    background-color: rgba(28,16,6,0.1);
    width: 21.5%;
    height: 28vh;
}
.other-sites{
    right: 0px;
}
.footer-title{
    font-size: 17px;
    color: #fbead7;
    line-height: 21px;
    font-family: Exo;
    margin-top: 12px;
    letter-spacing: 2px;
}
.footer-text {
    font-size: 10px;
    color: #fbead7;
    line-height: 18px;
    font-family: Exo;
    margin-top: 12px;
    letter-spacing: 3px;
}
.other-sites-link{
    font-size: 13px;
    color: #fbead7;
    line-height: 21px;
    font-family: Exo;
    margin-top: 6px;
    padding-left: 10px;
}
.footer-menu {
    margin-top: 20px;
}
.footer-menu ul :not(:first-child) {
    border-left: 1px solid #fff;
    padding-left: 10px;
}
.other-sites-link:hover,.footer-title:hover,.footer-menu ul li:hover{
    text-decoration: underline;
}
.footer-menu ul li {
    padding-right: 10px;
    font-size: 14px;
    line-height: 21px;
    line-height:16px ;
    display: inline-block;
    font-family: SourceSansPro;
}
.footer-menu a {
    color: #fbead7;
}
ul {
    padding: 0px;
}
.logo {
    margin-top: 8px;
    width: 50px;
}
.baha-faith {
    font-size: 28px;
    line-height: 20px;
    font-family: LinLibertineBI;
    display: inline-block;
    color: #fff;
    letter-spacing: 3px;
    position: relative;
    top: 8px;
}
.bahai-int-com {
    color: #fbead7;
    font-size: 11px;
    line-height: 21px;
    font-family: SourceSansPro;
    letter-spacing: 2px;
    margin-top: 20px;
    text-align: right;
}
@media all and (max-width: 1200px) {
    .information,.other-sites{
        background-color: rgba(31,19,7,0.7);
        width: 25%;
    }
    .footer-title {
        font-size: 15px;
    }
    .footer-text {
        font-size: 9px;
    }
    .other-sites-link {
        font-size: 12px;
    }
}
@media all and (max-width: 992px) {
    .information, .other-sites {
        width: 26%;
        padding-right: 0px;
        height:20vh;
    }
    .footer-contents img {
        height: 20vh;
    }
    .footer-title {
        font-size: 13px;
        letter-spacing: 1px;
    }
    .footer-text {
        font-size: 9px;
        letter-spacing: 0.2em;
    }

    .other-sites-link {
        font-size: 9px;
        padding-left: 0px;
        margin-top: 2px;
    }
    .baha-faith {
        font-size: 21px;
        letter-spacing: 1px;
    }
    .footer{
        height: 22vh;
    }
    .bahai-int-com {
        font-size: 10px;
        letter-spacing: 1px;
    }
}
@media all and (max-width: 767px) {
    .footer-menu,.bahai-int-com, .footer-logo{
        text-align: center;
    }
    .footer-menu ul li {
        font-size: 18px;
    }
    .information,.other-sites{
        width: 34%;
    }
    .footer-title{
        font-size: 13px;
        letter-spacing: 0px;
    }
    .footer-text {
        font-size: 8px;
        color: #fbead7;
        line-height: 18px;
        font-family: Exo;
        margin-top: 12px;
        letter-spacing: 2px;
    }
    .other-sites-link{
        font-size: 8px;
        color: #fbead7;
        line-height: 21px;
        font-family: Exo;
        margin-top: 3px;
        padding-left: 0px;
    }
    .footer-menu {
        margin-top: 20px;
    }
    .footer-menu ul :not(:first-child) {
        border-left: 1px solid #fff;
        padding-left: 10px;
    }
    .other-sites-link:hover,.footer-title:hover,.footer-menu ul li:hover{
        text-decoration: underline;
    }
    .footer-menu ul li {
        padding-right: 10px;
        font-size: 14px;
        line-height: 21px;
        line-height:16px ;
        display: inline-block;
        font-family: SourceSansPro;
    }
}
@media all and (max-width: 530px) {
    .information, .other-sites {
        position: relative;
        padding-bottom: 5px;
        height: 24vh;
    }
    .other-sites-link {
        margin-top: 6px;
    }
    .footer-contents img {
        height: 16.5vh;
    }
    .footer{
        height: 43vh;
    }
}
@media all and (max-width: 495px) {
    .information, .other-sites {
        height: 25vh;
    }
    .footer {
        height: 44vh;
    }
}
@media all and (max-width: 377px) {
    .other-sites-link {
        font-size: 11px;
    }
    .footer-text{
        letter-spacing: 1px;
    }
    .information, .other-sites {
        height: 27vh;
    }
    .footer {
        height: 46vh;
    }
}
@media all and (max-width: 360px) {
    .other-sites-link {
        font-size: 10px;
    }
}
@media all and (max-width: 333px) {
    .other-sites-link {
        font-size: 9px;
    }
}